@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

@font-face {
	font-family: sf;
	src: url("../fonts/sf.ttf");
	font-display: swap;
}

@font-face {
	font-family: pricedown;
	src: url("../fonts/pricedown.ttf");
	font-display: swap;
}

		
		@keyframes bordercolor {
  			0%, 100% {
   			 	text-shadow: 4px 4px #F55;
  			}
  			33% {
    			text-shadow: 4px 4px #5F5;
  			}
  			66% {
  				text-shadow: 4px 4px #55F;
  			}
		}

		body {
			background-color: rgb(24, 26, 27);
			background-attachment: fixed;
			color: #ffffff;
			font-family: 'Source Code Pro', monospace;
		}

		header {
			padding: 8px;
			margin-bottom: 20px;
		}
		
		#headerTitle {
			letter-spacing: 8px;
			margin: 0;
			font-size: 48px;
			animation: bordercolor 5s linear infinite;
		}

		#headerText {
			margin: -6px 0 8px 4px;
		}
		
		article {
			margin-bottom: 20px;
			text-align: center;
		}
		
		p {
			margin: 0;
		}
		
		.cssCard {
			height: 270px;
			width: 750px;
			border-radius: 40px;
			padding: 20px;
			margin: 40px auto 40px auto;
			background: white;
			display: flex;
			justify-content: space-between;
			border-radius: 40px 0px 0px 40px;
			color: black;
		}
		
		#viceCard {
			background-image: url("../img/vicebg.png");
			font-family: sf;
			text-shadow: 3px 3px black;
			color: white;
		}
		
		.pBreak {
			margin-bottom: 10px;
		}
		
		.cImg1 {
			height: 135px;
			cursor: pointer;
		}
		
		.gallery {
			display: flex;
			flex-direction: column;
		}
		
		.mImg {
			display: none;
			width: 65%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.close {
	color: #ddd;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
}

.close:hover,
.close:focus {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

a {
	color: red;
}
