@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@keyframes fadein{
	0% {opacity: 0%;} 
	25% {opacity: 0%;}
	100% {opacity: 100%;}
}

@keyframes fadeout{
	from {opacity: 100%} to {opacity: 0%} /*These allow for the page to be faded out. */
}

html{ /*sets up the baseline specs for the site, like font, padding, etc.*/
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
	font-size: 20px;
	text-align: center;
	padding: 0px;
	scroll-behavior: smooth;
}

a{ /* every "fake" hyperlink will be cyan*/
	color: #64c8e0;
}

body{ /* sets up the body, including animation, overflow, background, etc. important for positioning: this will allow other elements to be positioned as needed*/
	margin: 0px;
	padding: 0px;
	background-color: #050505;
	background-attachment: fixed;
	overflow: auto;
	overflow-x: hidden;
	color: white;
	text-align: center;
	background-image: url(../images/starsbg.png);
	background-repeat: repeat;
	animation-name: fadein;
	animation-duration: 5s;
}

nav { /* settings for the navbar, like affixing it to the top of the page */
	overflow: hidden;
	background-image: linear-gradient(to right, #64c8e0, #3473c2, #000000);
	background-color: #9199a1;
	position: fixed;
	top: 0px;
	width: 100%;
}

nav a{ /*every link within the navbar gets these settings, like left floating them*/
	float: left;
	color: #050505;
	padding: 5px 10px;
	text-decoration: none !important;
	font-size: 16px;
	overflow: hidden;
	opacity: 100%;
	transition: background-color 0.25s;
}

nav a:hover{ /*when the link is hovered over, transition to background color ddd in 0.25 seconds. linked to above */
	background-color: #ddd;
}

.header { /*css for the header, large font size and line height settings*/
	font-size: 80px;
	line-height: 0.85;
	margin: 60px 30px 0px 30px; /*top, right, bottom, left*/
	font-family: 'Montserrat', sans-serif;

}

.nopadding { /*force disables padding for the element. used to combat some weird useragent styles*/
	padding: 0px !important;
}

.separator { /*css for the gradient separator, centers it sets height*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 5px;
	padding: 30px;
}

.planetimage { /*width and centering for every planet image*/
	width: 140px;
	margin: auto 0 auto 0;
}

.planetimagecontainer { /*grid on the index page holding each planet image. this sets up the necessary padding and positioning for the grid*/
	padding: 0px;
	padding-bottom: 65px;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: repeat(5, 150px);
	overflow: hidden;
	align-self: center;
	width: 750px;
	margin: auto;
}

.containeritem { 
	padding: 0px;
}

.saturnongrid { /*manual positioning for saturn image (rotate and resize)*/
	width: 340px !important;
	position: relative;
	transform: rotate(130deg);
	left: -100px;
	z-index: -5;
}

.saturnonplanetgrid { /*manual positioning for the planet info grid: it needs to be rotated more*/
	transform: rotate(115deg) !important;
}

.sunongrid { /*manual pos for sun on the grid: needs to be a tiny bit bigger*/
	width: 155px !important;
	position: relative;
	top: -3px;
	z-index: -5;
}

.nopaddingbottom { /*disables bottom padding*/
 	padding-bottom: 0px !important;
}

.nopaddingtop { /*disables top padding*/
	padding-top: 0px !important;
}

.divsixty{ /*used to position elements 80% the width of the screen, also used to standardize the look of the page*/
	width: 80%;
	margin: auto;
	overflow: auto;
	content: ""; /*clearfix*/
	clear: both;
	display: table;

}


.dynamicbutton{ /*used to create the email button: gradient, size, rounding, etc*/
	background-image: linear-gradient(to right, #64c8e0, #3473c2);
	color: black;
	width: 150px;
	height: 150px;
	font-size: 120px;
	border-radius: 10000px;
	padding: 0;
	border: none;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	margin-bottom: 30px;
	transition-duration: 0.25s;
	transition-property: color;
	float: left;
	margin-right: 15px;
}

.dynamicbutton:hover{ /*hover transition for the email button: turns text white.*/
	color: white;
}

.atbutton{ /*used to manually position the text within the email button*/
	position: relative;
	top: -10px;
}

.fakehyperlink { /*this allows me to emulate a hyperlink while triggering JS when clicked.*/
	cursor: pointer;
	text-decoration: underline;
}

.fadeoutclass { /*when this class is added to anything it starts the fadeout animation.*/
	animation-name: fadeout;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.planetinnerdiv{ /*used for text formatting on the planet page.*/
	text-align: left; /*not redundant, needed for alignment inheriting for ul*/
	overflow: hidden;
	font-size: 17px;
	padding: 0px 10px 0px 10px;
	margin: auto 0 auto 0;
}

.planetinfogridcontainer { /*used as the grid container on the planet info page.*/
	display: grid;
	grid-row-gap: 30px;
	grid-template-columns: 150px auto 300px;
	grid-template-rows: repeat(10, 180px);
	overflow: hidden;
	width: 90%;
	margin: auto;
	margin-bottom: 100px;
}


ul { /*format the unordered lists on the PI page. */
	margin: 0;
	padding-left: 10px;
}

.centertext { /*used to force center text*/
	text-align: center;
}